<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <!-- Minify CSS -->
    {{ $css := resources.Get "css/main.css" }}
    {{ if $css }}
        {{ $css = $css | resources.Minify | resources.Fingerprint }}
        <link href="{{ $css.RelPermalink }}" rel="stylesheet">
    {{ else }}
        <link href="/css/main.css" rel="stylesheet">
    {{ end }}
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta property="og:image" content="https://aymenfurter.github.io/landscape/images/preview.png">
    
</head>
<body>
    {{ partial "header.html" . }}
    <div class="container">
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}
    <!-- Minify JS -->
    {{ $js := resources.Get "js/main.js" }}
    {{ if $js }}
        {{ $js = $js | resources.Minify | resources.Fingerprint }}
        <script src="{{ $js.RelPermalink }}"></script>
    {{ else }}
        <script src="js/main.js"></script>
    {{ end }}
</body>
</html>
