<div class="item {{ if eq .Params.size "2x2" }}item-2x2{{ end }}" onclick="showItemDetails(event, {{ .Params | jsonify }})">
    <div class="item-content">
        <img src="/api/placeholder/{{ if eq .Params.size "2x2" }}80/80{{ else }}40/40{{ end }}" alt="{{ .Title }}">
        <p>{{ if eq .Params.size "2x2" }}{{ .Title }}{{ else }}{{ if gt (len .Title) 15 }}{{ slicestr .Title 0 13 }}..{{ else }}{{ .Title }}{{ end }}{{ end }}</p>
        <div class="item-tags">
            {{ range .Params.tags }}
            <span class="item-tag" style="background-color: {{ index $.Site.Data.tagColors . }}">{{ . }}</span>
            {{ end }}
        </div>
    </div>
</div>